.catView {
    height: 300px;
    border: 1px solid black;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

h2:hover {
    cursor: pointer;
    color: red;
}